.primary{
    font-family: 'Oswald', sans-serif;
    color: @textcolor;
};
.btnad(@color, @bgcolor){
    border-radius: 5px;
    color: @color;
    background: @bgcolor;
}
/*animation*/
@keyframes Highlight {
    0%{
      transform: scale(1);
    };
    100%{
      transform: scale(1.2);
    };
  };
.highlight(@time){
    animation: Highlight @time;
};
.divide{
  height: 20vh;
  background-color: @navcolor;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.bg(@url){
  background-image: url(@url);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}